DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'HOST': '{{ rds.instance.endpoint }}',
        'NAME': '{{ db.name }}',
        'USER': '{{ db.username }}',
        'PASSWORD': '{{ db.password }}',
    }
}
