DBHost=127.0.0.1
DBName=zabbix
DBUser={{ zabbix.dbuser }}
DBPassword={{ zabbix.dbpass }}
DBPort=3306

LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
PidFile=/var/run/zabbix/zabbix_server.pid
Timeout=4

AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts
FpingLocation=/usr/bin/fping
Fping6Location=/usr/bin/fping6
LogSlowQueries=3000
